body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#0091ea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.example {
  padding: 20px;
  background-color:#0091ea;
  min-height: 100vh;
}

.dx-datagrid{
  padding: 20px;
  color:black;
}

.toolbar{
  margin-bottom: 15px;
  background-color: #c51162;
  padding: 20px;
  color:white;
}
